In [5]:
def any_country(country_name):
    print("We Love Our Country")
    print(f"My Country Name is {country_name}")
    print(f"{country_name} ZIndabad!")

any_country("Pakistan")

We Love Our Country
My Country Name is Pakistan
Pakistan ZIndabad!

In [6]:
def any_country(country_name):
    result = f"""We Love Our Country
    My Country Name is {country_name}
    {country_name} ZIndabad!"""
    return result
any_country("Pakistan")

'We Love Our Country\n    My Country Name is Pakistan\n    Pakistan ZIndabad!'

# Card

In [8]:
def student_card(roll_no,name,timing,batch):
    card = f"""Saylani Student Card
Student ID: \t {roll_no}
Student Name: \t {name}
Class Timing: \t {timing}
Batch: \t\t {batch}
    
    """
    return card
a = student_card("123","Saram","03:00 - 06:00","4")

In [9]:
print(a)

Saylani Student Card
Student ID: 	 123
Student Name: 	 Saram
Class Timing: 	 03:00 - 06:00
Batch: 		 4

In [10]:
data = [[1,"Saram","03:00 - 06:00","AIDS-4"],
       [2,"Usman","03:00 - 06:00","AIDS-4"],
       [3,"Hamdan","03:00 - 06:00","AIDS-4"]]

In [11]:
for row in data:
    print(row)

[1, 'Saram', '03:00 - 06:00', 'AIDS-4']
[2, 'Usman', '03:00 - 06:00', 'AIDS-4']
[3, 'Hamdan', '03:00 - 06:00', 'AIDS-4']

In [13]:
for row in data:
    print(student_card(row[0],row[1],row[2],row[3]))

Saylani Student Card
Student ID: 	 1
Student Name: 	 Saram
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 2
Student Name: 	 Usman
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 3
Student Name: 	 Hamdan
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4

In [14]:
for row in data:
    print(student_card(*row))

Saylani Student Card
Student ID: 	 1
Student Name: 	 Saram
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 2
Student Name: 	 Usman
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 3
Student Name: 	 Hamdan
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4

# Add Two Numbers

# Postional argument during calling

In [16]:
def add_two_numbers(num1,num2):
    return num1+num2

In [18]:
add_two_numbers(0)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [19]:
add_two_numbers(0,2)

2

In [21]:
def add_two_numbers(num1=0,num2=0):
    return num1+num2

print(add_two_numbers())
print(add_two_numbers(5))
print(add_two_numbers(5+5))

0
5
10

# key/word parameters/argument during calling

In [23]:
def add_two_numbers(num1=0,num2=0):
    return num1+num2

print(add_two_numbers(num1=8,num2=20))
print(add_two_numbers(num1=5))

28
5