# Tuple

In [1]:
data = ('a','b','c',1,2,3)
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [2]:
data = 'a','b','c',1,2,3
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [6]:
data = ('a','b','c',1,2,3)
print(type(data))
print(data[0:3])

<class 'tuple'>
('a', 'b', 'c')

In [7]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
(1,2,3) * 2

(1, 2, 3, 1, 2, 3)

In [9]:
for i in data:
    print(i)

a
b
c
1
2
3

# Dictionary

In [26]:
data = {
    'name': 'Saram',
    'fname': 'Hai',
    'CNIC': '42401-7137350-7',
    'Rollno': 1,
    'Signature': 'Sam'
}

data

{'name': 'Saram',
 'fname': 'Hai',
 'CNIC': '42401-7137350-7',
 'Rollno': 1,
 'Signature': 'Sam'}

In [25]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [32]:
data = {}

data['name'] = "Saram"
data['fname'] = "Hai"

data["name"]

'Saram'

In [33]:
data = {}

data['name'] = "Saram"
data['fname'] = "Hai"

data["name"]
data["roll"]

KeyError: 'roll'

In [36]:
data = {}

data['name'] = "Saram"
data['fname'] = "Hai"

# data["name"]
data.get('name')

'Saram'

In [39]:
print(data.get('name'))
print(data.get('Roll','Not available'))

Saram
Not available

In [40]:
data = {
    'name': 'Saram',
    'fname': 'Hai',
    'CNIC': '42401-7137350-7',
    'Rollno': 1,
    'Signature': 'Sam'
}

data.keys()

dict_keys(['name', 'fname', 'CNIC', 'Rollno', 'Signature'])

In [41]:
data.values()

dict_values(['Saram', 'Hai', '42401-7137350-7', 1, 'Sam'])

In [42]:
data.items()

dict_items([('name', 'Saram'), ('fname', 'Hai'), ('CNIC', '42401-7137350-7'), ('Rollno', 1), ('Signature', 'Sam')])

In [43]:
a,b = ('aa','bb')  # unpack/unzip

print(a)
print(b)

aa
bb

In [44]:
for k in data.keys():
    print(k)

name
fname
CNIC
Rollno
Signature

In [46]:
for k in data.keys():
    print(data[k])

Saram
Hai
42401-7137350-7
1
Sam

In [47]:
for k in data.keys():
    print(k,"--->",data[k])

name ---> Saram
fname ---> Hai
CNIC ---> 42401-7137350-7
Rollno ---> 1
Signature ---> Sam

In [49]:
for k,v in data.items():
    print(k,"-->",v)

name --> Saram
fname --> Hai
CNIC --> 42401-7137350-7
Rollno --> 1
Signature --> Sam

In [51]:
data = {
    "a":3,
    "b":2,
    "c":1
}

print(sorted(data.values()))

[1, 2, 3]

In [17]:
import pandas as pd

data = {'name': ['Saram', 'Usman', 'Ali', 'Maryam'],
        'fname': ['Hai', 'Chaudary', 'Zaib', 'Shahab'],
        'CNIC': ['42401-7137350-7', '42401-7137350-8', '42401-7137350-9', '42401-7137350-10'],
        'Rollno': ['1', '2', '3', '4'],
        'Signature': ['Sam', 'Usm', 'Al', 'Mar']
        }

new = pd.DataFrame(data)

new.head()

     name     fname              CNIC Rollno Signature
0   Saram       Hai   42401-7137350-7      1       Sam
1   Usman  Chaudary   42401-7137350-8      2       Usm
2     Ali      Zaib   42401-7137350-9      3        Al
3  Maryam    Shahab  42401-7137350-10      4       Mar