In [5]:
def any_country(country_name):
    print("We Love Our Country")
    print(f"My Country Name is {country_name}")
    print(f"{country_name} ZIndabad!")

any_country("Pakistan")

We Love Our Country
My Country Name is Pakistan
Pakistan ZIndabad!

In [6]:
def any_country(country_name):
    result = f"""We Love Our Country
    My Country Name is {country_name}
    {country_name} ZIndabad!"""
    return result
any_country("Pakistan")

'We Love Our Country\n    My Country Name is Pakistan\n    Pakistan ZIndabad!'

# Card

In [8]:
def student_card(roll_no,name,timing,batch):
    card = f"""Saylani Student Card
Student ID: \t {roll_no}
Student Name: \t {name}
Class Timing: \t {timing}
Batch: \t\t {batch}
    
    """
    return card
a = student_card("123","Saram","03:00 - 06:00","4")

In [9]:
print(a)

Saylani Student Card
Student ID: 	 123
Student Name: 	 Saram
Class Timing: 	 03:00 - 06:00
Batch: 		 4

In [10]:
data = [[1,"Saram","03:00 - 06:00","AIDS-4"],
       [2,"Usman","03:00 - 06:00","AIDS-4"],
       [3,"Hamdan","03:00 - 06:00","AIDS-4"]]

In [11]:
for row in data:
    print(row)

[1, 'Saram', '03:00 - 06:00', 'AIDS-4']
[2, 'Usman', '03:00 - 06:00', 'AIDS-4']
[3, 'Hamdan', '03:00 - 06:00', 'AIDS-4']

In [13]:
for row in data:
    print(student_card(row[0],row[1],row[2],row[3]))

Saylani Student Card
Student ID: 	 1
Student Name: 	 Saram
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 2
Student Name: 	 Usman
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 3
Student Name: 	 Hamdan
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4

In [14]:
for row in data:
    print(student_card(*row))

Saylani Student Card
Student ID: 	 1
Student Name: 	 Saram
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 2
Student Name: 	 Usman
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4


Saylani Student Card
Student ID: 	 3
Student Name: 	 Hamdan
Class Timing: 	 03:00 - 06:00
Batch: 		 AIDS-4

# Add Two Numbers

# Postional argument during calling

In [16]:
def add_two_numbers(num1,num2):
    return num1+num2

In [18]:
add_two_numbers(0)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [19]:
add_two_numbers(0,2)

2

In [21]:
def add_two_numbers(num1=0,num2=0):
    return num1+num2

print(add_two_numbers())
print(add_two_numbers(5))
print(add_two_numbers(5+5))

0
5
10

# key/word parameters/argument during calling

In [23]:
def add_two_numbers(num1=0,num2=0):
    return num1+num2

print(add_two_numbers(num1=8,num2=20))
print(add_two_numbers(num1=5))

28
5

# Create unlimited positional arguments for calling

In [11]:
def my_sum(num1,num2):
    print(num1+num2)
    return num1 + num2

my_sum(7,9)

16

16

In [14]:
def my_sum(num1,*value):
    print(num1,value)
    # return num1 + num2

my_sum(7,9)

7 (9,)

In [16]:
def my_sum(num1,*value):
    print(num1,value)
    result = num1
    for n in value:
        result += n
    return result

my_sum(7,9,1)

7 (9, 1)

17

In [17]:
def abc(**values):
    print(values)
    print(type(values))

abc(num1=7,tea=2,milk="1 KG")

{'num1': 7, 'tea': 2, 'milk': '1 KG'}
<class 'dict'>

In [20]:
def my_custom_function(num1, num2=7, *value, **dict1):
    print("Required positional argument num1 = ", num1, type(num1))
    print("Positional default parameter value argument num2 = ", num2, type(num2))
    print("Positional unlimited argument value1 = ", value, type(value))
    print("key/word unlimited argument dict1 = ", dict1, type(dict1))

In [21]:
my_custom_function(200,100,'a','b','c',tea=7,milk="1 KG")

Required positional argument num1 =  200 <class 'int'>
Positional default parameter value argument num2 =  100 <class 'int'>
Positional unlimited argument value1 =  ('a', 'b', 'c') <class 'tuple'>
key/word unlimited argument dict1 =  {'tea': 7, 'milk': '1 KG'} <class 'dict'>

In [22]:
def std_cards(id, name, *skills):
    print("Student Roll number: ", id)
    print("Student Name: ", name)
    print("Student Skills: ", skills)

std_cards(1, "Saram","Python","ML","DL")

Student Roll number:  1
Student Name:  Saram
Student Skills:  ('Python', 'ML', 'DL')

# Lambda function

In [23]:
def add_two_num(num1,num2):
    return num1 + num2

In [26]:
a = lambda num1,num2: num1+num2
a(7,9)

16

In [32]:
l = [[1,'a','Z'],
     [2,'b','Y'],
     [3,'c','X']]
l

[[1, 'a', 'Z'], [2, 'b', 'Y'], [3, 'c', 'X']]

In [33]:
sorted(l, key=lambda x:x[2])

[[3, 'c', 'X'], [2, 'b', 'Y'], [1, 'a', 'Z']]

# Generator function

In [35]:
def my_range(start,end):
    for i in range(start,end+1):
        yield i

a = my_range(1,10)
print(a)

<generator object my_range at 0x0000021A2B977120>

In [37]:
a = my_range(1,11)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4

In [38]:
a = my_range(1,11)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# Recursive function