# Programming paradigms
## Linear Programming
## Structrual/Controls Programming
## Object Oriented Programing

# Linear Programing

In [1]:
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")
print("Pakistan zinda bad!")

Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!

# Structural Programin

In [2]:
for num in range(1,11):
    print("Pakistan zinda bad!")

Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!
Pakistan zinda bad!

# Controls
* if
    * else
    * elif
* for/while
    * break
    * continue
    * pass
    * else
* def
* try
    * except
    * else
    * finally
* class

https://flexiple.com/python/python-reserved-words/

# if
* else
* elif

```if Logic:
    True_block_body
else:
    False_block_body```

```if True/False:
    True_block_body
else:
    False_block_body```

### comprehensive Style
```True_block_body if True/False else False_block_body```

In [3]:
print("Pakistan!")

print("America")

Pakistan!
America

In [4]:
if True:
    print("Pakistan")
else:
    print("America")

Pakistan

In [5]:
if False:
    print("Pakistan")
else:
    print("America")

America

In [6]:
num = int(input("Enter any number: "))

print(num, type(num))

print(num % 2)
print(num % 2 == 0)

Enter any number: 15
15 <class 'int'>
1
False

In [7]:
num = int(input("Enter any number: "))


if num % 2 == 0:
    print(f"the {num} is Even!")
else:
    print(f"the {num} is Odd!")

Enter any number: 15
the 15 is Odd!

In [8]:
per = int(input("Enter your percentage: "))


if per >= 80:# logic1
    print("A+")
elif per >= 70: #logic 2
    print("A")
elif per >= 60: # logic 3
    print("B")
elif per >= 50: # logic 4
    print("C")
elif per >= 40: # logic 5
    print("D")
elif per >= 33:
    print("E")
else:
    print("Fail")
    
    
print("Pakistan zinda bad")

Enter your percentage: 66
B
Pakistan zinda bad

In [9]:
per = 66


if False:# logic1
    print("A+")
elif False: #logic 2
    print("A")
elif True: # logic 3
    print("B")
elif 66 >= 50: # logic 4
    print("C")
elif 66 >= 40: # logic 5
    print("D")
elif 66 >= 33:
    print("E")
else:
    print("Fail")

B

In [10]:
per = int(input("Enter percentage: "))

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Enter percentage: 88
Fail

In [11]:
True and True and True

True

In [12]:
per = int(input("Enter percentage: "))

if per >= 0 and per < 33:
    print("Fail")
elif per >= 33 and per < 40:
    print("E")
elif per >= 40 and per < 50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per < 70:
    print("B")
elif per >= 70 and per < 80:
    print("A")
elif per >= 80 and per < 100:
    print("A+")

Enter percentage: 86
A+

In [13]:
user_name = input("Enter User Name: ")
password = input("Enter your Password: ")

if user_name == 'Admin' and password == 'Admin':
    print("Valid User")
else:
    print("Invalid User")

Enter User Name: 84
Enter your Password: 55
Invalid User

In [14]:
user_name = input("Enter User Name: ")
password = input("Enter your Password: ")

if user_name == 'Admin' and password == 'Admin':
    print("Valid User")
else:
    print("Invalid User")

Enter User Name: Admin
Enter your Password: Admin
Valid User

In [15]:
user_name = input("Enter User Name: ")
password = input("Enter your Password: ")

if user_name == 'Admin' or user_name == 'admin' and password == 'Admin':
    print("Valid User")
else:
    print("Invalid User")

Enter User Name: admin
Enter your Password: Admin
Valid User

In [16]:
user_name = input("Enter User Name: ")
password = input("Enter your Password: ")

if user_name.lower() == 'admin' and password == 'Admin':
    print("Valid User")
else:
    print("Invalid User")

Enter User Name: admin
Enter your Password: Admin
Valid User

In [17]:
user_name = input("Enter User Name: ")
password = input("Enter your Password: ")

print("Valid user") if user_name.lower() == "admin" and password == "Admin" else print("Invalid User")

Enter User Name: Admin
Enter your Password: Admin
Valid user

In [18]:
user_name = input("Enter User Name: ")
password = input("Enter your Password: ")

if user_name.lower() == "admin":
    if password == "Admin":
        print("Valid User")
    else:
        print("Invalid User")

Enter User Name: admin
Enter your Password: Admin
Valid User

# Loop

In [19]:
abc = "Pakistan"

for c in abc:
    print(c)

P
a
k
i
s
t
a
n

In [20]:
for i in ['a','b','c','d',1,2,3,'abc','xyz']:
    print(i)

a
b
c
d
1
2
3
abc
xyz

In [21]:
list(enumerate(['a','b','c','d',1,2,3,'abc','xyz']))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 1),
 (5, 2),
 (6, 3),
 (7, 'abc'),
 (8, 'xyz')]

In [22]:
for index, value in enumerate(['abc','efg','xyz','qasim']):
    print(index, value)

0 abc
1 efg
2 xyz
3 qasim

In [23]:
list("Pakistan")

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

# ASCII
* 0-9  = 48 - 57
* A-Z  = 65 - 90
* a-z  = 97 - 122

## dealing with ASCII
* ord
* chr

In [24]:
print(ord("A"))
print(ord('a'))
print(ord('0'))

65
97
48

In [25]:
print(chr(65))
print(chr(97))
print(chr(48))

A
a
0

In [26]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [27]:
[chr(i) for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [29]:
[chr(i) for i in range(65,91)] +
[chr(i) for i in range(97,123)] +
[chr(i) for i in range(48,58)]

SyntaxError: invalid syntax (1057558464.py, line 1)

In [30]:
[chr(i) for i in range(65,91)] +\
[chr(i) for i in range(97,123)] +\
[chr(i) for i in range(48,58)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9']

In [31]:
[i for i in range(65,91)]

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [32]:
[i for i in range(65,91) if i % 2 == 0]

[66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90]

In [33]:
[chr(i) for i in range(65,91) if i % 2 == 0]

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [34]:
[chr(i) for i in range(65,91) if i % 2 != 0]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

# Loop controls

In [35]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
for i in range(1,11):
    print(i)
    break

1

In [37]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [38]:
data = [{'id':1,'name':"Qasim"},
       {'id':2,'name':"Asif"},
       {'id':3, "name":"Hamza"}]

for recod in data:
    card = """
    Saylani Mass IT training
    Roll: {id}
    Name: {name}
    """.format_map(recod)
    print(card)
#     break

    Saylani Mass IT training
    Roll: 1
    Name: Qasim


    Saylani Mass IT training
    Roll: 2
    Name: Asif


    Saylani Mass IT training
    Roll: 3
    Name: Hamza

In [39]:
data = [{'id':1,'name':"Muhammad Qasim",'u':'Qasim','p':'123'},
       {'id':2,'name':"Asif Khan",'u':'Asif','p':'abc123'},
       {'id':3, "name":"Muhammad Hamza",'u':'Hamza','p':'123xyz'}]

user = input("Enter user Name")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break

Enter user NameQasim
Password123
{'id': 1, 'name': 'Muhammad Qasim', 'u': 'Qasim', 'p': '123'}

In [40]:
data = [{'id':1,'name':"Muhammad Qasim",'u':'Qasim','p':'123'},
       {'id':2,'name':"Asif Khan",'u':'Asif','p':'abc123'},
       {'id':3, "name":"Muhammad Hamza",'u':'Hamza','p':'123xyz'}]

user = input("Enter user Name")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break
    else:
        print("Invalid User or Password")

Enter user NameAsif
Passwordabc123
Invalid User or Password
{'id': 2, 'name': 'Asif Khan', 'u': 'Asif', 'p': 'abc123'}

In [41]:
data = [{'id':1,'name':"Muhammad Qasim",'u':'Qasim','p':'123'},
       {'id':2,'name':"Asif Khan",'u':'Asif','p':'abc123'},
       {'id':3, "name":"Muhammad Hamza",'u':'Hamza','p':'123xyz'}]

user = input("Enter user Name")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break
else:
    print("Invalid User or Password")

Enter user NameQasim
Password123
{'id': 1, 'name': 'Muhammad Qasim', 'u': 'Qasim', 'p': '123'}

In [42]:
data = [{'id':1,'name':"Muhammad Qasim",'u':'Qasim','p':'123'},
       {'id':2,'name':"Asif Khan",'u':'Asif','p':'abc123'},
       {'id':3, "name":"Muhammad Hamza",'u':'Hamza','p':'123xyz'}]

user = input("Enter user Name")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas:
        print(d)
        break

print("Invalid User or Password")

Enter user NameQasim
Password123
{'id': 1, 'name': 'Muhammad Qasim', 'u': 'Qasim', 'p': '123'}
Invalid User or Password

In [43]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [44]:
for i in range(1,1000):
    pass

In [45]:
for i in range(1,1000):
    pass

In [46]:
if True:
    pass
else:
    pass

# while
* counter
* logic
* loop body
* increment/decrement

In [47]:
counter = 0

while counter <= 10:
    print(counter,'line')
    counter += 1

0 line
1 line
2 line
3 line
4 line
5 line
6 line
7 line
8 line
9 line
10 line

In [48]:
counter = 100

while counter >= 90:
    print(counter,'line')
    counter -= 1

100 line
99 line
98 line
97 line
96 line
95 line
94 line
93 line
92 line
91 line
90 line

In [49]:
counter = 2023

while counter >= 1922:
    print(counter,'Year')
    counter -= 1

2023 Year
2022 Year
2021 Year
2020 Year
2019 Year
2018 Year
2017 Year
2016 Year
2015 Year
2014 Year
2013 Year
2012 Year
2011 Year
2010 Year
2009 Year
2008 Year
2007 Year
2006 Year
2005 Year
2004 Year
2003 Year
2002 Year
2001 Year
2000 Year
1999 Year
1998 Year
1997 Year
1996 Year
1995 Year
1994 Year
1993 Year
1992 Year
1991 Year
1990 Year
1989 Year
1988 Year
1987 Year
1986 Year
1985 Year
1984 Year
1983 Year
1982 Year
1981 Year
1980 Year
1979 Year
1978 Year
1977 Year
1976 Year
1975 Year
1974 Year
1973 Year
1972 Year
1971 Year
1970 Year
1969 Year
1968 Year
1967 Year
1966 Year
1965 Year
1964 Year
1963 Year
1962 Year
1961 Year
1960 Year
1959 Year
1958 Year
1957 Year
1956 Year
1955 Year
1954 Year
1953 Year
1952 Year
1951 Year
1950 Year
1949 Year
1948 Year
1947 Year
1946 Year
1945 Year
1944 Year
1943 Year
1942 Year
1941 Year
1940 Year
1939 Year
1938 Year
1937 Year
1936 Year
1935 Year
1934 Year
1933 Year
1932 Year
1931 Year
1930 Year
1929 Year
1928 Year
1927 Year
1926 Year
1925 Year
1924 Year
1923 Year
1922 Year

# Assignment
* create list of dictionary with (name,id,user,password,email,phone)
* create program where user can login with user/email/phone but password must be same 

# Create Table 
1. pass argument1 **2 to n** table will be generated
2. pass argument2 range of each table **1 to n**

* argument1 = 3
* agrument2 = 5

```
2 x 1 = 2  3X1=3
2 x 2 = 4  3X2=6
2 x 3 = 6  3X3=9
2 x 4 = 8  3X4=12
2 x 5 = 10 3X5=15
```