# Class 08

* List Comprehensive
* Tuple
* Set
* Dictionary

In [1]:
range(11)

range(0, 11)

In [16]:
tab = int(input("Which table do you want to run: "))
times = int(input("How many times do you want to run: "))


for i in range(1, times + 1):
    print(f"{tab} X {i} = {tab*i}")

Which table do you want to run: 4
How many times do you want to run: 6
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24

In [17]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
print("iter number: ")
[print("iter number: ", i) for i in range(11)]

iter number:
iter number:  0
iter number:  1
iter number:  2
iter number:  3
iter number:  4
iter number:  5
iter number:  6
iter number:  7
iter number:  8
iter number:  9
iter number:  10

[None, None, None, None, None, None, None, None, None, None, None]

In [22]:
a = [("iter number: ", i) for i in range(1, 11)]

In [23]:
a

[('iter number: ', 1),
 ('iter number: ', 2),
 ('iter number: ', 3),
 ('iter number: ', 4),
 ('iter number: ', 5),
 ('iter number: ', 6),
 ('iter number: ', 7),
 ('iter number: ', 8),
 ('iter number: ', 9),
 ('iter number: ', 10)]

In [26]:
a = [f"iter number: {i}" for i in range(1, 11)]
a

['iter number: 1',
 'iter number: 2',
 'iter number: 3',
 'iter number: 4',
 'iter number: 5',
 'iter number: 6',
 'iter number: 7',
 'iter number: 8',
 'iter number: 9',
 'iter number: 10']

In [28]:
[i+5//2 for i in range(1, 11)]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [29]:
[i*5 for i in range(1, 11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [30]:
[i*j for i in range(1, 11) for j in range(1, i+1)]

[1,
 2,
 4,
 3,
 6,
 9,
 4,
 8,
 12,
 16,
 5,
 10,
 15,
 20,
 25,
 6,
 12,
 18,
 24,
 30,
 36,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [71]:
for i in range(1, 11):
    for j in range(1, i+1):
        print((i*j), end= " ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

# Tuple

In [72]:
data = (1, 2, 3, "a", "b", "c")

type(data)

tuple

In [73]:
data + data

(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

In [74]:
dir(data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Tuple not fully immutable

In [105]:
data = (1, 2, 3, ["a", "b", "c"] )

data[3].append("d")

data

(1, 2, 3, ['a', 'b', 'c', 'd'])

# Dictionary

In [121]:
data = {} # empty dictionary

data["name"] = "Amjad"
data["father_name"] = "Aziz"
data["id"] = "1925"

print(data.get("name"))

print(data.get("roll_number", "Nahi he bhai"))

Amjad
Nahi he bhai

In [123]:
data = {} # empty dictionary

data["name"] = "Amjad"
data["father_name"] = "Aziz"
data["cnic"] = "42401-4464481-5"
data["id"] = "1925"
data{}

data.fromkeys(["name", "father_name"])

{'name': None, 'father_name': None}

In [120]:
a, b = "aa", "bb"    # Unzipping or Unpacking

print(a)
print(b)

aa
bb

In [110]:
14 * 200 * 60 * 24 * 365

1471680000

 # Task

In [1]:
tab = int(input("Which table do you want to run: "))
tiltab = int(input("Uptill how many: "))
times = int(input("How many times do you want to run: "))

for i in range(tab, tiltab+1):
    
    for j in range(1, times + 1):
        print(f"{i} X {j} = {i*j}")
    
    print("-----------------")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
-----------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
-----------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
-----------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
-----------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
-----------------

In [99]:
tab = int(input("Which table do you want to run: "))
tiltab = int(input("Uptill how many: "))
times = int(input("How many times do you want to run: "))

[f"{i} X {j} = {i*j}" for i in range(tab, tiltab+1) for j in range(1, times + 1) ]

Which table do you want to run: 2
Uptill how many: 6
How many times do you want to run: 5

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30']

In [2]:
data = {
    "a" : 3,
    "b" : 2,
    "c" : 1
}

# Sort out

In [4]:
myKeys = list(data.keys())
myKeys.sort()
print(myKeys)
sorted_dict = {i: data[i] for i in myKeys}
 
print(sorted_dict)

['a', 'b', 'c']
{'a': 3, 'b': 2, 'c': 1}

In [5]:
table = int(input("Which table do you want to run: "))
times = int(input("Uptill how many: "))
ttables = int(input("How many times do you want to run: "))

for i in range(table,times+1):
    for j in range(1,ttables+1):
        print(f"{i} x {j} = {i*j}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42

In [7]:
table = int(input("Which table do you want to run: "))
times = int(input("Uptill how many: "))
ttables = int(input("How many times do you want to run: "))
[f"{i} x {j} = {i*j}" for i in range(table,times+1) for j in range(1,ttables+1) ]

['1 x 1 = 1',
 '1 x 2 = 2',
 '1 x 3 = 3',
 '2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '3 x 1 = 3',
 '3 x 2 = 6',
 '3 x 3 = 9',
 '4 x 1 = 4',
 '4 x 2 = 8',
 '4 x 3 = 12']

In [8]:
print("Saram and amjad")

Saram and amjad